* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 1100px);
    padding-right: calc(50% - 1100px);
    display: flex;
    justify-content: center;
    
}